
<div id="ret" class="container mt-4">
  <h2>Registro de Usuario</h2>
  <form>
    
    <div class="mb-3">
      <label class="form-label">Identificación</label>
      <input type="text" class="form-control" [(ngModel)]="Usuario.nIdentificacion" name="identificacion" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Primer Nombre</label>
      <input type="text" class="form-control" [(ngModel)]="Usuario.nombre1" name="nombre1" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Segundo Nombre</label>
      <input type="text" class="form-control" [(ngModel)]="Usuario.nombre2" name="nombre2" />
    </div>

    <div class="mb-3">
      <label class="form-label">Primer Apellido</label>
      <input type="text" class="form-control" [(ngModel)]="Usuario.apellido1" name="apellido1" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Segundo Apellido</label>
      <input type="text" class="form-control" [(ngModel)]="Usuario.apellido2" name="apellido2" />
    </div>

    <div class="mb-3">
      <label class="form-label">Fecha de Expedición de Licencia</label>
      <input type="date" class="form-control" [(ngModel)]="Usuario.fechaExlicen" name="fechaExpedicion" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Teléfono</label>
      <input type="text" class="form-control" [(ngModel)]="Usuario.telefono" name="telefono" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Vigencia Licencia</label>
      <input type="date" class="form-control" [(ngModel)]="Usuario.vigencialicencia" name="vigencialicencia" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Categoría</label>
      <input type="text" class="form-control" [(ngModel)]="Usuario.categoria" name="categoria" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Correo</label>
      <input type="email" class="form-control" [(ngModel)]="Usuario.correo" name="correo" required />
    </div>

    <div class="mb-3">
      <label class="form-label">Clave de Usuario</label>
      <input type="password" class="form-control" [(ngModel)]="Usuario.claveUs" name="claveUsuario" required />
    </div>

    <button type="submit" class="btn btn-primary" (click)="guardarRegistro()">Registrar</button>
  </form>
</div>
