<a href="">Volver</a>

<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="loginForm">
    <label for="nIdentificacion">Identificación:</label>
    <input type="text" id="nIdentificacion" formControlName="nIdentificacion" required>

    <label for="claveUs">Contraseña:</label>
    <input type="password" id="claveUs" formControlName="claveUs" required>

    <button type="button" (click)="validarLogin()">Ingresar</button>
    <button class="btn-admin" (click)="abrirAdmin()">Admins</button>
  </form>
</div>




  