<div class="col-md-4 text-start">
  <button class="btn btn-info" (click)="regresar()">🔙 </button>
</div>
<p class="h2 text-center text-primary fw-bold mt-4">
  
  🚗 Lista de Vehículos No Entregados
</p>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <label for="tipo" class="form-label fw-bold text-secondary">
        📌 Gestionar Alquiler:
      </label>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="table-responsive">
    <table class="table table-hover table-bordered shadow-lg rounded">
      <thead class="table-dark text-center">
        <tr>
          <th># Alquiler</th>
          <th>Valor Alquiler</th>
          <th>N° Identificación</th>
          <th>Fecha Solicitud</th>
          <th>Placa</th>
          <th>Estado Alquiler</th>
          <th>Estado Auto</th>
          <th>Actualizar</th>
          <th>Calcular</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of alquiler" class="text-center align-middle table-light">
          <td><strong>{{ item.numeroalquiler }}</strong></td>
          <td class="text-success fw-bold">${{ item.valoralquiler | number }}</td>
          <td>{{ item.usuario.nIdentificacion }}</td>
          <td>{{ item.fechasoli | date:'longDate' }}</td>
          <td class="fw-bold text-uppercase">{{ item.vehiculo.placa }}</td>
          <td>
            <span>
              {{ item.estadoalqui }}
            </span>
          </td>
          <td>
            <span>
              {{ item.vehiculo.estado }}
            </span>
          </td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="actualizar(item.vehiculo.placa.toString())">
              🔄 Actualizar
            </button>
          </td>
          <td>
            <button class="btn btn-info btn-sm text-white" (click)="calcular(item.numeroalquiler)">
              🧮 Calcular
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
